
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  div {
    text-align: center;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; 
    max-height: 80vh; 
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
  }
  
  /* style the buttons inside the container */
  .container button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px 0; /* Space between buttons */
    width: 100%; /* Buttons take full width of container */
    max-width: 300px; /* But limit to 300px */
    transition: background-color 0.3s ease;
  }
  
  .container button:hover {
    background-color: #0056b3;
  }
  
  .container button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  /* success and error messages */
  .container p {
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
  }
  
  .container p.success {
    color: green;
  }
  
  .container p.error {
    color: red;
  }
  

  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  form {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #007bff;
  }
  
  label input[type="checkbox"] {
    margin-right: 10px;
  }
  
  label {
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  p {
    font-size: 14px;
    margin: 10px 0;
  }
  
  p.success {
    color: green;
    font-weight: bold;
  }
  
  p.error {
    color: red;
    font-weight: bold;
  }
  
  @media (max-width: 600px) {
    button {
      width: 100%;
    }
  
    form {
      padding: 15px;
    }
  
    input[type="text"],
    input[type="password"] {
      font-size: 12px;
    }
  }
  